* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #ece0d1;
}

li {
  list-style: none;
}

a, a:hover {
  color: #ffffff;
  text-decoration: none;
}

.bg-coffee {
	background-color: #634832;
}

.navbar--title {
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.home {
  margin-top: 10vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.login--container {
	margin-top: 15vh;
}

.login--login-form, .login--register-form {
	padding: 10px;
	border: 2px solid #634832;
	border-radius: 5px;
	background-color: #dbc1ac;
}

.login--login-header, .login--register-header {
	font-weight: bold;
}

.login--button, .register--button {
	background-color: #634832;
}

.chat--row {
	width: 100%;
}

.chat-box {
	height: calc(100vh - 130px); 
}

.user-list--header {
	margin-top: 10px;
	font-weight: bold;
}

.user-list--list {
  list-style: none;
	font-size: 20px;
}

.message-list {
	margin-top: 10px;
	overflow: scroll;
	height: 100%;
}


.message-form {
  position: absolute;
  bottom: 15px;
  width: 90%;
}

.message-received {
  background-color: #634832;
  color: #ffffff;
  padding: 3px 15px;
  border-radius: 5px;
  list-style: none;
  float: left;
  clear: both;
}

.message-received--username {
  font-size: 75%;
  font-weight: bold;
}

.message-received--time-stamp {
  font-size: 75%;
}

.message-sent {
  background-color: #ffffff;
  padding: 3px 15px;
  border-radius: 5px;
  list-style: none;
  float: right;
  clear: both;
}

.message-sent--time-stamp {
  font-size: 75%;
  float: right;
}